<footer id="footer">
         <div id="div1">
                 <p>Love Parashar Institute.</p>

         </div>
         <div id="div2">
                 <ul>
                         <li><a href="/signup">
                                 Home
                             </a>
                        </li>
                         <li><a href="/">Profile</a></li>
                        
                 </ul>
         </div>
</footer>