<link rel="stylesheet" href="/css/user_profile.css">
       <h1>codeial / <%= title%></h1>
       <p><%= user.name %></p>
       <p><%= user.email %></p>

<section id="feed-posts">
       <h4>Posts</h4>
       <form action="" id="new-post-form" method="POST">
           <textarea name="content"  cols="30" rows="3"></textarea>
           <input type="submit" value="Post">
       </form>
</section>