<link rel="stylesheet" href="/css/user_profile.css">
 
 <div class="sign-up">
        <div class="write">
               <p> SIGN-UP </p>
            </div>
       <form action="/create" method="POST">
            <input type="text" name="name" placeholder="Username"  required>
           <input type="email" name="email" placeholder="Email or Phone"  required>
           <input type="password" name="password" placeholder="Password"  required>
           <input type="password" name="confirm_password" placeholder="Confirm Password" required>
           <button type="submit">SIGN UP</button>
       </form>
 </div>
       