#header {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  background: blue;
  justify-content: space-between; }
  #header #div1 {
    height: 50px;
    margin-top: -15px;
    width: auto;
    margin-left: 5px; }
    #header #div1 p {
      font-size: 1.6rem;
      color: white; }
  #header #div2 {
    height: 50px;
    margin-top: -10px;
    margin-right: 10px; }
    #header #div2 ul {
      list-style: none; }
      #header #div2 ul a {
        text-decoration: none;
        color: white; }
      #header #div2 ul a:hover {
        color: aquamarine; }

main {
  height: 35rem; }
